.IS_lastItem {
  cursor: auto;
  text-align: center;
  padding: 1.2rem 0;
  font-size: .8rem;
  font-weight: 600;
  color: #949494;
}

.IS_lastItem span {
  color: inherit;
}

.Loader_container {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.Loader_container > div {
  width: 8px;
  height: 8px;
  margin: 2.5px;
  background-color: #009bd6;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.Loader_container .Loader_dot1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.Loader_container .Loader_dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}